<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/faa3309038.js" crossorigin="anonymous"></script>
    <title>Login Form</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">  
    style
      include ../images/form.css
</head>
<body>
    <div class="container">
        <h1>Enter Your Details</h1>
         <form action="/contact" method="POST">
        <div class="box">
            <i class="fa fa-user"></i>
            <input type="name" id="name" name="name" placeholder="Enter Your Name">
        </div>
        <div class="box">
            <i class="fa fa-male"></i>
            <input type="number" id="number" name="number" placeholder="Enter Your Age">
        </div>
        <div class="box">   	
          <i class="fa fa-envelope"></i>  
          <input type="email" id="email" name="email" placeholder="Enter Your Email">
        </div>
        <div class="box">
            <i class="fa fa-key"></i>
            <input type="text" id="text" name="text" placeholder="Place You want to visit">
        </div>
           <button class="btn">Submit </button>
        </form>
    </div>	

</body>
</html>